textarea::-webkit-input-placeholder,input::-webkit-input-placeholder {
  color: #666566;
}
textarea:-moz-placeholder ,input:-moz-placeholder {
  color: #666566;
}
textarea::-moz-placeholder,input::-moz-placeholder {
  color: #666566;
}
textarea:-ms-input-placeholder,input:-ms-input-placeholder {
  color: #666566;
}
[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea{
	height: auto;
  font-weight: normal;
}


.butt-form {
  text-align: right;
  margin-top: 1em;
}
.butt-form input[type="submit"] {
	color: #fff;
	background: #4A93C5;
    border: 1px solid #4A93C5;
    font-size: 2em;
    padding: .6em 1.5em;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    display: inline-block;
    &:hover{
    	background: #fff;
    	color: #4A93C5;
    }
}




.form-wh{
  input{
    border: none;
    border-bottom: 1px solid @maincolor;
    font-weight: normal;
    &:focus{
      border: none;
      border-bottom: .13em solid #ABE7F7;
    }
  }
  textarea{
    border: .13em solid @maincolor;
  }
  [type="checkbox"] + label:before{
    border: 1px solid @celeste;

  }
  [type="checkbox"]:checked+label:before {
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid @celeste;
  border-bottom: 2px solid @celeste;    
  }
  label {
    font-size: 1.6em;
    color: @maincolor;
  }
  select {
    font-size: 1.6em;
    height: auto;
    padding: .6em .5em;
    border: none;
    border-bottom: 1px solid @maincolor;
    font-weight: normal;
  }
  textarea{
    height: 6em;
  }
}