.foot{
	background: #23789a;
	color: #fff;
	padding: 6em 0 3em;
	h3{
		font-weight: normal;
		margin-bottom: 1em;
		color: @celeste;
		text-transform: uppercase;
		font-size: 2em;
	}
	li{
		a{
			color: #e6e6e6;
			font-size: 1.6em;
			&:hover{
				color: #a2b2bd;
			}
		}

	}
	span{
		font-size: 1.8em;
		color: #ffffff;
		i{
			margin-right: .5em;
		}
	}
	p{
		color: #e6e6e6;
	}
	.foomon{
		color: #fff;
	}
}
.social-l {
	margin-bottom: 1em;
	li{
		display: inline-block;
		margin-right: .8em;
		i{
			font-size: 1.5em;
		}
	}
}
.priv-l a{
	color: #a2b2bd !important;
	&:hover{
		color: #fff !important;
	}
}
.img-foot{
	position: relative;
	img{
	    margin-top: -82px;
	}
}
.infofdir{
	margin-top: 4em;
}