[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea{
	border: .1em solid #DADADA;
	box-shadow: none;
	height: auto;
	font-size: 1.53em;
	padding: .6em .5em;
	font-weight: 700;
}
form ::-webkit-input-placeholder {
  color: @maincolor;
  text-transform: uppercase;
}
form :-moz-placeholder {
  color: @maincolor;
  opacity: 1;
  text-transform: uppercase;
  font-weight: 700;    
}
form ::-moz-placeholder {
  color: @maincolor;
  opacity: 1;
  text-transform: uppercase;  
  font-weight: 700;
}
.cont-form{
	background: rgba(241, 241, 241, 0.48);;
    padding: 2em 3em;
}
form :-ms-input-placeholder {
  color: @maincolor;
  text-transform: uppercase;
  font-weight: 700;  
}
