html {
  font-size: 62.5%;
}
body {
  font-size: 10px; 
  overflow-x: hidden;
  font-family: 'Source Sans Pro';
  font-weight: 400;
  color: #333333;
}
header{
  position: relative;
  z-index: 9;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Hind';
}
.col-container h1{
  font-size: 4.8em;
  font-weight: 700;
  margin-bottom: .5em;
}
p {
  font-size: 1.8em;
  color: #727272;
}
ul{
  margin: 0;
  list-style: none;
}
.logo{
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: inline-block;
  width: 14em;
  img{
    width: 100%;
  }
}
.row{
  max-width: inherit;
}
.col-container {
  max-width: 1450px;
  width:  85%;
  margin: 0 auto;
}
.top-head {
  background: #fff;
  padding: 1em 0;
}
#map{
  height: 40em;
  margin-top: 4em;
}  
.cont-headdatos{
  div{
    display: inline-block;
    font-size: 1.6em;
    font-weight: 600;
    vertical-align: middle;
    span {
      font-weight: normal;
      display: block;
      color: #929292;
      font-size: 0.9em;
    }
  }
}
.head-button {
    display: inline-block;
    padding: 12px 25px;
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 3em;
    border-radius: 3px;
    vertical-align: middle;
    border-width: 2px;
    border-style: solid;
    background-color: @maincolor;
    border-color: @maincolor;
    color: #fff;
    &:hover{
      background-color: #fff;
      color: @maincolor; 
    }
}
.icdiv {
  position: relative;
  margin-left: 3em;
  &:before{
    content: "\f05d";
    font: normal normal normal 14px/1 FontAwesome;
    display: inline-block;
    position: absolute;
    left: -17px;
    top: 6px;    
  }
}
.top-bar {
  background-color: rgb(67, 204, 222);
      transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease,-webkit-transform .4s ease;
}
.butt-gen{
    font-size: 1.8em;
    color: @maincolor;
    padding: 15px 28px 15px 28px;
    margin: 0px 10px 10px 0px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-width: 2px 2px 2px 2px;
    border: 2px solid @maincolor; 
}
.hide-opt { display: none;}
.hov-big img {width: 100%;}
