/*
 * Helpers
 * @author mfyance
 */
.cleaner {
  box-sizing: border-box;
  *zoom: 1;
}
.cleaner:after {
  clear: both;
}
.cleaner:before,
.cleaner:after {
  display: table;
  line-height: 0;
  content: "";
}
::-webkit-input-placeholder {
  color: #ddd;
  font-style: italic;
}
:-moz-placeholder,
::-moz-placeholder {
  color: #ddd;
  font-style: italic;
}
:-ms-input-placeholder {
  color: #ddd;
  font-style: italic;
}
input::-webkit-calendar-picker-indicator {
  display: none;
}
input[type="time"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder {
  visibility: hidden !important;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
.m_t--20{margin-top: 20px}
.mb--10{margin-bottom: 10px}
.mb--20{margin-bottom: 20px}
.mb--30{margin-bottom: 30px}
.mb--40{margin-bottom: 40px}
.mb--50{margin-bottom: 50px}
.mb--60{margin-bottom: 60px}
.mb--70{margin-bottom: 70px}
.mb--80{margin-bottom: 80px}
.mb--90{margin-bottom: 90px}
.mb--100{margin-bottom: 100px}
.mt--10{margin-top: 10px}
.mt--20{margin-top: 20px}
.mt--30{margin-top: 30px}
.mt--40{margin-top: 40px}
.mt--50{margin-top: 50px}
.pt--25{padding-top: 25px}
.pd--5{padding: 5px;}
.pd--10{padding: 10px;}
.pdl--5{padding-left: 5px}
.pdr--5{padding-right: 5px}
.pdb--5{padding-bottom: 5px}

.fr{float: right}
.f--r{float: right}

.pr{position: relative;}
.va--t{vertical-align: top;}
.va--m{vertical-align: middle;}
.v_a--m{vertical-align: middle;}

.p_t--25{padding-top: 25px}

.t_a--l{text-align: left;}
.t_a--c{text-align: center;}
.t_a--r{text-align: right;}

.m_r--10{margin-right: 10px}
.m_l--10{margin-left: 10px}
.m_l--20{margin-left: 20px}


.not--link{cursor: default !important}
.tac{text-align: center;}
.tar{text-align: right;}
.color--red{color: red}
.c--red{color: red;}
.f-w--600{font-weight: 600 !important;}
.color--blanco{color: white}
.color__azul{color: #0099D7}
.color__azul--pasivo{color: #0087D1}
.color__celeste{color: #00C0F4}
.color__blue{color: #003584}
.c--purple,
.color--morado,
.color__morado{color: #003584}
.bgc--morado{background-color: #003584}
.bgc--grey{background-color: #ddd}
.color__gris{color: #222d32}
.c--gris-pasivo,
.color__gris--pasivo{color: #25333A}
.color__gris--suave{color: #C1C1C1}
.color__petroleo{color: #8AA4AF }

.pr--10{padding-right: 10px}
.color--blue{color: #0087D1}
.color--blue i{color: #0087D1}
a[data-toggle="modal"]:hover i.color--blue{color: #003584}
.color--brown{color: #606060}

.mb--10{margin-bottom: 10px}
.mb--20{margin-bottom: 20px}
.mb--30{margin-bottom: 30px}
.mb--40{margin-bottom: 40px}
.mt--10{margin-top: 10px}
.mt--20{margin-top: 20px}
.mt--30{margin-top: 30px}
.mt--40{margin-top: 40px}

.p--10{padding: 10px;}
.p--20{padding: 20px;}

.p_l--5{padding-left: 5px}

.p_t--30{padding-top: 30px;}
.p_b--30{padding-top: 30px;}
.p_l--10{padding-left: 10px;}
.p_r--10{padding-right: 10px;}

.p_b--10{padding-bottom: 10px;}
.m_b--10{margin-bottom: 10px;}
.p_b--20{padding-bottom: 20px;}
.m_b--20{margin-bottom: 20px;}
.m_b--40{margin-bottom: 40px;}

.ta--c{text-align: center;}
.ta--r{text-align: right;}
.ta--l{text-align: left;}

.w--1{width: 1%}
.w--2{width: 2%}
.w--3{width: 3%}
.w--4{width: 4%}
.w--5{width: 5%}
.w--6{width: 6%}
.w--7{width: 7%}
.w--8{width: 8%}
.w--9{width: 9%}
.w--10{width: 10%}
.w--11{ width: 11%}
.w--12{ width: 12%}
.w--13{ width: 13%}
.w--14{ width: 14%}
.w--15{ width: 15%}
.w--16{ width: 16%}
.w--17{ width: 17%}
.w--18{ width: 18%}
.w--19{ width: 19%}
.w--20{width: 20%}
.w--25{ width: 25%}
.w--30{width: 30%}
.w--35{ width: 35% }
.w--40{width: 40%}
.w--50{width: 50%}
.w--60{width: 60%}
.w--70{width: 70%}
.w--80{width: 80%}
.w--90{width: 90%}
.w--100{width: 100%}

.m_b--20{ margin-bottom: 20px;}
.m_t--20{  margin-top: 20px;}

.w--30px{width: 30px}
.w--50px{width: 50px}
.w--70px{width: 70px}
.w--150px{width: 150px}
.w--200px{width: 200px}
.w--300px{width: 300px}
.w--400px{width: 400px}
.w--500px{width: 500px}
.m_w--200px{min-width:200px;}
.min_w--500px{min-width:500px;}
.min_w--400px{min-width:400px;}
.min_w--300px{min-width:300px;}
.min_w--200px{min-width:200px;}
.min_w--150px{min-width:150px;}
.max_w--200px{max-width:200px;}
.w--auto{width: auto;}

.o_f--h{overflow: hidden;}
.f_s--i{font-style: italic;}

.transform__rotate--180{
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
}

.p--r{position: relative;}
.d--i-b{display: inline-block;}
.d--ib{display: inline-block;}
.f_s--30{font-size: 30px !important}
.f_s--25{font-size: 25px !important}
.f_s--22{font-size: 22px !important}
.f_s--20{font-size: 20px !important}
.f_s--19{font-size: 19px !important}
.f_s--18{font-size: 18px !important}
.f_s--15{font-size: 15px !important}
.f_s--13{font-size: 13px !important}
.f_s--12{font-size: 12px !important}
.f_s--11{font-size: 11px !important}
.f_s--10{font-size: 10px !important}


.v_a--1{vertical-align: 1px}
.v_a--2{vertical-align: 2px}
.v_a--3{vertical-align: 3px}
.v_a--less-3{vertical-align: -3px}
.v_a--4{vertical-align: 4px}
.v_a--5{vertical-align: 5px}

.m--0{margin: 0 !important}
.m--auto{margin: 0 auto}

.h--100px{height: 100px}
.h--110px{height: 110px}
.h--120px{height: 120px}
.h--130px{height: 130px}
.h--140px{height: 140px}
.h--150px{height: 150px}



/*Html Helper*/
html { font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
}
/*Font Sizes*/
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: 300; 
}
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }





/*Extras*/
.material-icons{vertical-align: middle;}
.transition{
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
