.cont-slider{
	position: relative;
}
#slider-ban{
	margin-top: -110px;
}
.sp-image-container:before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
    background-color: rgba(110, 114, 117, 0.25);
}
.sp-slide:before{
	content: '';
	width: 100%;
	height: 100%;
	display: inline-block;
	position: absolute;
	z-index: 1;
	background: rgba(1, 7, 10, 0.25); 
}
.txt-slide{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 12%;
	right: 0;
	margin: auto;
	margin-top: 13.5%;
	display: inline-block;	
	z-index: 9;
	h2{
		display: inline-block;
		font-size: 9em;
		color: @celeste;
		font-weight: 700;
		position: relative;
		z-index: 999;
	}
	h4{
		font-weight: 300;
		font-size: 5.4em;
		color: #fff;
	}
	p{
		font-size: 2em;
		color: #fff;
		font-weight: normal;
		width: 50%;
	}
}
.first-secs{
	margin-top: -10em;
	.column{
		padding: 0;
	    &:nth-child(1) {
	    	.trr-cont {
				&:after{
					content: '';
					width: 100%;
					height: 100%;
					display: inline-block;
					background: rgba(0, 27, 45, 0.61);
					position: absolute;
					top: 0;
					right: 0;

				}
			}
	    }
	    &:nth-child(2) {
	    	.trr-cont {
				&:after{
					content: '';
					width: 100%;
					height: 100%;
					display: inline-block;
					background: rgba(0, 0, 0, 0.76);
					position: absolute;
					top: 0;
					right: 0;

				}
			}
	    }
	    &:nth-child(3) {
	    	.trr-cont {
				&:after{
					content: '';
					width: 100%;
					height: 100%;
					display: inline-block;
					background: rgba(0, 27, 45, 0.61);
					position: absolute;
					top: 0;
					right: 0;

				}
			}
	    }		
	}
}
.trr-cont{
	height: 20em;
	text-align: center;	
    background-size: cover;	
    position: relative;
    h3{
    	color: #5CDFF3;
    	position: relative;
    	z-index: 1;
    	font-size: 2.3em;
    	padding-top: 2.5em;
    }
    p{
    	color: #fff;
    	font-size: 1.6em;
    	position: relative;
    	z-index: 1;
    	font-size: 1.8em;
    }
}
.threesec{
	background: #ECECEC;
}
.cont-pq{
	background: #ECECEC;
	padding-top: 7em;
	padding-bottom: 9em;
	h2{
		font-size: 3.6em;
		font-weight: 300;
		color: #383838;
		position: relative;
		&:before{
			height: 2px;
			content: '';
			background: @maincolor;
			width: 110px;
			display: inline-block;
			position: absolute;
			bottom: -14px;
		}
	}
}
.sec-descrp{
	img{
		margin-bottom: 3em;
	}
	p{
		text-align: justify;
	}
}
.buttc{
	margin-top: 4em;
}
.tit-lin{
	position: relative;
	h2{
		font-size: 3.6em;
		font-weight: 300;
		color: #383838;
		position: relative;
		display: inline-block;	
		background: #fff;
		z-index: 1;
		padding-right: 1em;
		margin-bottom: 1.3em;
	}
	.lin{
		display: inline-block;
		height: 1px;
		width: 97%;
		background: @celeste;
		position: absolute;
		left: 0;
		margin-left: 1em;
		top: 2.5em;		
	}
}
.sec-pad{
	padding-top: 7em;
	padding-bottom: 7em;
}
.hov-big{
	h2{
		color: #383838;
		font-size: 2em;
		font-weight: 500;
		margin-top: 1em;
	}
	p{
		text-align: justify;
		font-size: 1.6em;
	}
}
.cont-servp{
	position: relative;
	&:after {
		content: '';
		width: 100%;
		height: 100%;
		display: inline-block;
		background: rgba(0, 74, 98, 0.72);
		position: absolute;
		top: 0;
		right: 0;		
	}
	h3 {
	    color: #fff;
	    position: relative;
	    z-index: 9;
	    font-size: 3em;
	    padding-top: 1.5em;
	}
	p {
	    color: #e6e6e6;
	    font-size: 1.6em;
	    position: relative;
	    z-index: 9;
	    font-size: 1.8em;
	}		
}
.contser{
	padding: 2em 3em;
	h3{
		margin-bottom: 1.8em;
		position: relative;
		&:after{
			content: '';
			height: 1px;
			width: 60px;
			display: inline-block;
			background: @celeste;
			position: absolute;
			left: 0;
			bottom: -10px;
		}
	}
}
.contcars{
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;	
}
.item-serv{
	position: relative;
	display: inline-block;
	width: 100%;
	&:hover{
		.capahov{
			opacity: 1;
		}
	}
}
.tit-serv{
	position: absolute;
    z-index: 9;
    bottom: 0;
    background: rgba(0, 82, 138, 0.75);
    width: 100%;
    padding: 2em;
    height: 9em;
    h4{
		color: #fff;
		font-size: 1.7em;
    }
}
.capahov{
    background: rgba(0, 0, 0, 0.76);
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
  -webkit-transition: ease 0.85s;
  -moz-transition: ease 0.85s;
  -ms-transition: ease 0.85s;
  -o-transition: ease 0.85s;
  transition: ease 0.85s;    
    i{
    	color: #fff;
    	font-size: 2.5em;
    	margin-top: 44%;
    }
}
.contcars {
	.owl-prev {
	    position: absolute;
	    top: 48%;
	    left: 0;
	    z-index: 9;
	}
	.owl-next {
		right: 0;
		top: 48%;
	}
	.owl-theme .owl-controls .owl-buttons div {
		color: #fff;
		background: #000;
	}
}
.proser{
	background: #ECECEC;
}
.contpsser{
	padding: 46px 54px 10px 105px;
	h2{
		font-size: 3.6em;
		font-weight: 300;
		color: #383838;		
	}
}
.itemcps{
	background: #fff;
    padding: 2em;
    margin-bottom: 2em;
	p {
		margin: 0;
	}
}
.contdfgt{	
	position: relative;
	h3 {
	    color: #fff;
	    position: relative;
	    z-index: 9;
	    font-size: 3em;
	    padding-top: 1.5em;		
	}
	p{
		color: #e6e6e6;
		position: relative;
		z-index: 1;
	}
	&:after {
	    content: '';
	    width: 100%;
	    height: 100%;
	    display: inline-block;
	    background: rgba(0, 74, 98, 0.72);
	    position: absolute;
	    top: 0;
	    right: 0;
	}	
}	
.cont-testt{
	text-align: center;
    width: 64%;
    margin: 0 auto;	
    position: relative;
    z-index: 2;
}
.sec-testimonio{
    background-size: cover;
    padding-top: 8em;
    padding-bottom: 7em;
    position: relative;
    p{
    	color: #e6e6e6;
    	font-size: 2em;
    }
    img{
    	width: 8em;
    	border-radius: 100%;
    	margin-right: 2em;
    }
    h2{
    	color: @celeste;
    	text-align: center;
    	margin-bottom: 2em;
    	position: relative;
    	z-index: 2;
    	font-size: 3em;
		&:after {
		    content: '';
		    height: 1px;
		    width: 60px;
		    display: inline-block;
		    background: #5CDFF3;
		    position: absolute;
		    left: 50%;
		    margin-left: -30px;
		    bottom: -10px;
		}    	
    }
    &:after {
		content: '';
		width: 100%;
		height: 100%;
		display: inline-block;
		background: rgba(23, 54, 64, 0.72);
		position: absolute;
		top: 0;
		right: 0;
    }
}
.aligdb{
	display: inline-block;
	color: #fff;
}
.dattest{
	margin-top: 3em;
	h5{
		font-size: 1.6em;
		font-weight: 700;
	}
	span{
		font-size: 1.4em
	}
}
.item-clien{
	margin-right: 2em;
	margin-left: 2em;
}
.sec-clien{
	padding: 5em 0;
}
#slider-ban {min-height: 600px;}
.parallax {
	background-attachment: fixed;
}
//boton
.btn {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 2em;
  font-weight: 400;
  line-height: 45px;
  margin: 0 auto 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  vertical-align: middle;
  width: 100%;
}

.cont-bresp {
    float: left;
    margin-top: 2px;
    font-size: 16px !important;
    margin-left: 0 !important;	
}
.tit-pbtt {margin-bottom: 3em;}
@media (min-width: 400px) {
  .btn {
    display: inline-block;
    margin-right: 2.5em;
  }
  .btn:nth-of-type(even) {
    margin-right: 0;
  }
}
@media (min-width: 600px) {
  .btn:nth-of-type(even) {
    margin-right: 2.5em;
  }
  .btn:nth-of-type(5) {
    margin-right: 0;
  }
}
.btn:hover {
  text-decoration: none;
}

.btn-1 {
  background: #4A93C5;
  font-weight: 100;
  text-align: center;
}
.btn-1 svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.btn-1 rect {
  fill: none;
  stroke: #4A93C5;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
}

.btn-1:hover {
  background: rgba(225, 51, 45, 0);
  font-weight: 900;
  letter-spacing: 1px;
}
.btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}
