@import url(https://fonts.googleapis.com/css?family=Hind:400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,600);
@import "foundation.css";
@import "font-awesome.min.css";
@import "owl-carousel/owl.carousel.css";
@import "owl-carousel/owl.theme.css";
@import "slider-pro.css";
@import "animate.css";

/*Titulos y subtitulos*/
body {
  overflow-x: hidden;
  font-family: 'Scope One', Verdana;
  color: #444;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Scope One', Verdana;
}
h3 { 
    position: relative;
    font-weight: bold;
    font-size: 2rem;
    color: #52585b;
}
h3:not(.other):before {
    height: 2px;
    content: '';
    background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0), #5fc9d7);
    background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0), #5fc9d7);
    background-image: -ms-linear-gradient(0deg, rgba(255, 255, 255, 0), #5fc9d7);
    background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, 0), #5fc9d7);
    background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0), #5fc9d7);
    width: 110px;
    display: inline-block;
    position: absolute;
    bottom: -5px;
    margin: auto;
}
h2 { 
    position: relative;
    font-weight: bold;
    font-size: 2.5rem;
    color: #52585b;
}
h2:before {
    height: 2px;
    content: '';
    background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0), #ff7781);
    background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0), #ff7781);
    background-image: -ms-linear-gradient(0deg, rgba(255, 255, 255, 0), #ff7781);
    background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, 0), #ff7781);
    background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0), #ff7781);
    width: 110px;
    display: inline-block;
    position: absolute;
    bottom: -5px;
    margin: auto;
}
h3:not(.other):before {
  left: 0;
  right: 0;
  margin: auto;
}
h4 { 
    position: relative;
    font-weight: bold;
    font-size: 1.6rem;
    color: #fff;
    margin-bottom: 40px;
}
h4:not(.other):before {
    height: 2px;
    content: '';
    background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0), #fff);
    background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0), #fff);
    background-image: -ms-linear-gradient(0deg, rgba(255, 255, 255, 0), #fff);
    background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, 0), #fff);
    background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0), #fff);
    width: 110px;
    display: inline-block;
    position: absolute;
    bottom: -5px;
    margin: auto;
}
li,p {
  font-size: 1.2rem;
}
header {
  position: relative;
  z-index: 9;
}

/*Menu*/
/*----*/
.top-bar ul {
  background-color: transparent;
}
/*Nav*/
.nav {
  display: inline-block;
  vertical-align: bottom;
  -webkit-transition: ease 0.6s;
  -moz-transition: ease 0.6s;
  -ms-transition: ease 0.6s;
  -o-transition: ease 0.6s;
  transition: ease 0.6s;
}
.nav a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
  display: block;
  position: relative;
  -webkit-transition: ease 0.85s;
  -moz-transition: ease 0.85s;
  -ms-transition: ease 0.85s;
  -o-transition: ease 0.85s;
  transition: ease 0.85s;
  line-height: 49px;
}
.nav li {
  margin: 0 2em;
}
.nav li:first-child {
  margin-left: 0;
}
.menu-link {
  display: none;
  float: right;
  text-decoration: none;
  padding: 0px 9px;
  height: 100%;
  background: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 30px;
  color: #000;
  margin-top: .8em;
  background: #4A93C5;
  color: #fff !important;
}
.nav > ul {
  margin: 0;
  position: relative;
}
.nav > ul > li:last-child {
  margin: 0 0px 0 20px;
}
.nav > ul > li ul {
  margin-left: -15px;
  padding: 0;
}
.nav > ul > li ul li {
  display: block;
  margin: 0;
}
.nav > ul > li ul li a {
  font-weight: 400;
  padding: 15px 9px;
  display: block;
  line-height: 0;
}
.nav > ul > li ul li a:before {
  display: none;
}
.nav > ul > li ul li a:hover {
  background: #ff7781;
}
.dropdown-menu {
  background: #ddeff3 !important;
  color: #fff !important;
}
.dropdown-menu a {
  color: #4A93C5 !important;
}
.nav ul:after {
  content: "";
  clear: both;
  display: block;
}
.nav ul li {
  display: inline-block;
}
.nav ul li:hover > ul {
  display: block;
}
 > .nav ul li > ul.sub-menu {
  width: 100%;
  padding: 4px 0;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.nav ul ul {
  display: none;
  position: absolute;
  top: 54px;
  min-width: 160px;
  z-index: 9;
}
.nav ul ul li a:before {
  display: none!important;
}
.nav ul ul > li {
  position: relative;
}
.nav ul ul > li a {
  padding: 5px 15px 5px 10px;
  height: auto;
}
.head-fix {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
@media screen and (max-width: 992px) {
  .head-fix {
    position: relative;
  }
  .top-bar {
    height: auto !important;
  }
  .menu-link {
    display: block;
    margin-bottom: 7px;
    margin-top: 7px;
  }
  .dropdown-toggle:after {
    background: #fff !important;
  }
  .nav {
    clear: both;
    min-width: inherit;
    float: none;
    overflow: hidden;
    max-height: 0;
    display: inherit;
    position: relative;
    z-index: 99;
    background: #fff;
    margin-left: 0;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-top: 10px;
  }
  .nav > ul > li ul {
    margin-left: 0;
    background: #e7e7e7;
    color: #000;
    padding: 0;
  }
  .nav > ul > li ul li {
    border-bottom: 1px solid #b9b9b9;
  }
  .nav > ul > li ul a {
    color: #000;
    line-height: 1.5em !important;
  }
  .nav.active {
    max-height: 100%;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-bottom: 13px;
  }
  .nav li.has-submenu > a:after {
    content: '+' !important;
    position: absolute;
    top: 0.3em;
    right: 0;
    display: block;
    font-size: 1.5em;
    padding-right: 36px;
  }
  .nav li.has-submenu > a.active:after {
    content: "-" !important;
  }
  .nav ul {
    display: inline;
  }
  .nav ul li {
    display: block;
  }
  .nav ul li a {
    display: block;
    padding: 9px;
    border-bottom: 1px solid #ccc;
    position: relative;
    color: #4A93C5;
    line-height: 37px;
  }
   > .nav ul li > ul.sub-menu {
    padding: 0px;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
  }
  .nav ul li a:before {
    display: none !important;
  }
  .nav li {
    margin: 0 ;
  }
  .nav ul ul {
    overflow: hidden;
    max-height: 0;
    display: inherit;
    position: relative;
    left: auto;
    top: auto;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
  }
  .nav ul ul.active {
    max-height: 100%;
  }
  .nav ul ul > li {
    display: block;
  }
  .nav ul ul > li a {
    height: auto;
    padding: 9px 20px !important;
  }
  .nav ul ul ul {
    display: inherit;
    position: relative;
    left: auto;
    top: auto;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
  }
  .nav > ul > li:last-child {
    margin: 0 0px 0 13px;
  }
  .nav > ul > li:last-child a {
    border: none;
  }
}
.nav ul li a {
  -webkit-transition: .3s ease;
  transition: .3s ease;
  position: relative;
}
.nav ul li a:before {
  content: " ";
  display: block;
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: .3em;
  background: #4A93C5;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.nav ul li a:hover:before {
  content: " ";
  display: block;
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: .3em;
  background: #ff939b;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.nav ul li a:before {
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
.logo {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: inline-block;
  max-width: 250px;
}
.logo img {
  width: 100%;
}
/*Nosotros.php*/
/*Services*/
.service__integral--block{
    text-align: center;
    margin-bottom: 40px;
}
.service--img img{width:100%}
.services .service--block:nth-child(2n) .service--img{float: right;}
.services .service--block:nth-child(2n) .service--text{float: left;}

.service--block>div:not(.w--100){
    display: table-cell;
    width: 50%;
    vertical-align: top;    
}
.service--block{
    display: table;
    width: 100%;
    margin-bottom: 25px;
    padding: 10px;
    border: 1px solid rgba(93, 227, 246, 0.21)
}
.service--capa{
    z-index: 1;
    background-color: rgba(0, 74, 98, 0.72);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.service--title{
    width: 100%;
    text-align: center; 
    color: white;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.service--text li{
    padding-left: 40px;
    font-size: 1.2rem;
    position: relative;
    padding-bottom: 20px
}
.service--text li:before{
    font-family: 'Material Icons';
    content: '\e86c';
    font-size: 2rem;
    position: absolute;
    left: 1px;
    top: -11px;
    color: #5fc9d7
}
.service--text{
    padding: 10px;
}
.service--block-bg{
    height: 200px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}
/*Us*/
.us--text{text-align: center;}
.us{width: 100%}
.us--block{
    width: 30%;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}
.us--ico{}
.us--ico-img{
    width: 70px;
    height: 70px;
}
.us--ico-circle{
    display: inline-block;
    padding: 30px;
    background-color: #5DE5F7;
    border-radius: 50%;
    border: 8px solid rgba(102, 102, 102, 0.22);
}
.us--title{padding: 20px 0}

/*General*/
.img--is-border{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.main--content{padding: 50px 0}
#element i{opacity: 0}
.top-bar{padding: 0}
.zoomClass {
   animation : 30s linear 1s normal none infinite zoominout
}
@keyframes zoominout{
    0%{
       transform:scale(1)
    }
    25%{
       transform:scale(1.5)
    }
    50%{
       transform:scale(2)
    }
    75%{
       transform:scale(1.5)
    }
    100%{
       transform:scale(1)
    }
}



/*Index*/
h1{
  font-family: "Montserrat" !important;
  font-size: 58px !important;
}
.slider--main{  
  padding: 100px 10px;
  color: white;
  z-index: 999;
}
.slider--title strong{
  text-shadow: 0 3px 1px #002632
}
.slider--title{
  width: 100%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

#one--block{  
  overflow: hidden;
}
.block--imagen{ 
  height: 500px;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
  background-attachment: fixed;
}
#one--block .capa{
  top: 0;
    left: 0;
    z-index: 1;
    padding: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    overflow: hidden;
    position: absolute;
    background-color: rgba(0, 74, 98, 0.72)
}

.title--line{
  text-align: center;
  width: 100px;
  height: 3px;
  margin: 0 auto;
  display: inline-block;
  /*background-color: #33c3f0;*/
  background-color: #ffffff;
    background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0), #ff7781);
    background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0), #ff7781);
    background-image: -ms-linear-gradient(0deg, rgba(255, 255, 255, 0), #ff7781);
    background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, 0), #ff7781);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), #ff7781);
}
.block--title{
  text-align: center;
  position: relative;
}
.block--subtitle{padding: 20px 0 50px 0}
.pr{
  position: relative;
}
.bg--grey{
  background-color: #f8f8f8;
}

.link--disabled{text-decoration: none;}
.container--block{
  padding: 50px 10px !important;
}
/*Servicios*/
.bg--pic+h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
    color: #fff;
}
.bg--pic{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 74, 98, 0.72)
}
.service--pic{
    position: relative;
    width: 100%;
    height: 220px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box--services{
    border: 1px solid #5fc9d7;
    padding: 10px;
    box-sizing: border-box;
}
.detalle--servicios{margin-top: 20px;margin-left: 0px}
.detalle--servicios li:before{
  font-family: 'Material Icons';
  content: '\e86c';
  font-size: 1.3rem;
  position: absolute;
  left: 1px;
  top: -5px;
  color: #5fc9d7;
}
.detalle--servicios li{
  padding-left: 30px;
  position: relative;
  padding-bottom: 20px;
}

/*Sectores*/
.sectores--list{
    padding: 5px 20px;
    border: 1px solid #4c9ac9;
    border-radius: 4px;
    color: #4c9ac9;
    display: inline-block;
    margin-right: 15px;
}
.bg--sectores{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/*Testimonio*/
.cont-testt {
  text-align: center;
  width: 64%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.sec-testimonio {
  background-size: cover;
  padding: 40px 0;
  position: relative;
}
.sec-testimonio p {
  color: #e6e6e6;
}
.sec-testimonio img {
  width: 8em;
  border-radius: 100%;
  margin-right: 2em;
}
.sec-testimonio h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 2em;
  position: relative;
  z-index: 2;
  font-size: 2.5rem;
  font-weight: bold;
}
.sec-testimonio:after {
  content: '';
  width: 100%;
  height: 100%;
  display: inline-block;
  background: rgba(23, 54, 64, 0.72);
  position: absolute;
  top: 0;
  right: 0;
}
.dattest {
  margin-top: 3em;
}
.dattest h5 {
  font-size: 1.4rem;
  font-weight: 700;
}
.dattest span {
  font-size: 1rem;
}

/*Pie de Pagina*/
.content--footer{
  padding: 70px  0 50px 0
}
.foot {
  position: relative;
  background-image: -webkit-linear-gradient(0deg, #4A93C5, #5DE5F7);
  background-image: -moz-linear-gradient(0deg, #4A93C5, #5DE5F7);
  background-image: -ms-linear-gradient(0deg, #4A93C5, #5DE5F7);
  background-image: -o-linear-gradient(0deg, #4A93C5, #5DE5F7);
  background-image: linear-gradient(90deg, #4A93C5, #5DE5F7);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#4A93C5', endColorstr='#5DE5F7')";
  color: #fff;
  padding: 20px 10px;
}
.foot h3 {
  font-weight: normal;
  margin-bottom: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
}
.foot li a {
  font-size: 1.6em;
  color: #fff;
}
.foot li a:hover {
  color: #fff;
  text-shadow: 2px 0 5px #0070b3
}
.foot span {
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: bold;
}
.foot span i {
  margin-right: .5em;
}
.social-l {
  margin-bottom: 1em;
}
.social-l li {
  display: inline-block;
  margin-right: .8em;
}
.social-l li i {
  font-size: 1.5em;
}
.priv-l a {
  color: #a2b2bd !important;
}
.priv-l a:hover {
  color: #fff !important;
}
.img-foot {
  position: relative;
}
.img-foot img {
  margin-top: -82px;
}
.infofdir {
  margin-top: 4em;
}
.cont-slider {
  position: relative;
}
#slider-ban {
  margin-top: -110px;
}
.sp-image-container:before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
  background-color: rgba(110, 114, 117, 0.25);
}
.sp-slide:before {
  content: '';
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  z-index: 1;
  background: rgba(1, 7, 10, 0.25);
}
.txt-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 12%;
  right: 0;
  margin: auto;
  margin-top: 13.5%;
  display: inline-block;
  z-index: 9;
}
.txt-slide h2 {
  display: inline-block;
  font-size: 9em;
  color: #4A93C5;
  font-weight: 700;
  position: relative;
  z-index: 999;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;

}
.txt-slide h4 {
  font-weight: 300;
  font-size: 5.4em;
  color: #fff;
}
.txt-slide p {
  font-size: 2em;
  color: #fff;
  font-weight: normal;
  width: 50%;
}

.first-secs .column {
  padding: 0;
}
.first-secs .column .trr-cont:after {
  content: '';
  width: 100%;
  height: 100%;
  display: inline-block;
  background:  rgba(8, 108, 152, 0.62);
  position: absolute;
  top: 0;
  right: 0;
}
.trr-cont {
  height: 30em;
  text-align: center;
  background-size: cover;
  position: relative;
  padding: 0 20px
}
.trr-cont h3 {
  color: #fff;
  position: relative;
  z-index: 1;
  font-size: 2.3em;
  padding-top: 2.3em;
  text-shadow: 0 0 2px #fff
}
.trr-cont p {
  color: #fff;
  font-size: 1.6em;
  position: relative;
  z-index: 1;
  font-size: 1.8em;
}
.threesec {
  background: #ECECEC;
}


.sec-descrp img {
  margin-bottom: 3em;
}
.sec-descrp p {
  text-align: justify;
}
.tit-lin {
  position: relative;
}
.tit-lin h2 {
  font-size: 3.6em;
  font-weight: 300;
  color: #383838;
  position: relative;
  display: inline-block;
  background: #fff;
  z-index: 1;
  padding-right: 1em;
  margin-bottom: 1.3em;
}
.tit-lin .lin {
  display: inline-block;
  height: 1px;
  width: 97%;
  background: #4A93C5;
  position: absolute;
  left: 0;
  margin-left: 1em;
  top: 2.5em;
}
.hov-big h2 {
  color: #383838;
  font-size: 2em;
  font-weight: 500;
  margin-top: 1em;
}
.hov-big p {
  text-align: justify;
  font-size: 1.6em;
}
.cont-servp {
  position: relative;
}
.cont-servp:after {
  content: '';
  width: 100%;
  height: 100%;
  display: inline-block;
  background: rgba(0, 74, 98, 0.72);
  position: absolute;
  top: 0;
  right: 0;
}
.cont-servp h3 {
  color: #fff;
  position: relative;
  z-index: 9;
  font-size: 3em;
  padding-top: 1.5em;
}
.cont-servp p {
  color: #e6e6e6;
  font-size: 1.6em;
  position: relative;
  z-index: 9;
  font-size: 1.8em;
}
.contser {
  padding: 2em 3em;
}
.contser h3 {
  margin-bottom: 1.8em;
  position: relative;
}
.contcars {
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
}
.item-serv {
  position: relative;
  display: inline-block;
  width: 100%;
}
.item-serv:hover .capahov {
  opacity: 1;
}
.tit-serv {
  position: absolute;
  z-index: 9;
  bottom: 0;
  background: rgba(0, 82, 138, 0.75);
  width: 100%;
  padding: 2em;
  height: 9em;
}
.tit-serv h4 {
  color: #fff;
  font-size: 1.7em;
}
.capahov {
  background: rgba(0, 0, 0, 0.76);
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: ease 0.85s;
  -moz-transition: ease 0.85s;
  -ms-transition: ease 0.85s;
  -o-transition: ease 0.85s;
  transition: ease 0.85s;
}
.capahov i {
  color: #fff;
  font-size: 2.5em;
  margin-top: 44%;
}
.contcars .owl-prev {
  position: absolute;
  top: 48%;
  left: 0;
  z-index: 9;
}
.contcars .owl-next {
  right: 0;
  top: 48%;
}
.contcars .owl-theme .owl-controls .owl-buttons div {
  color: #fff;
  background: #000;
}
.proser {
  background: #ECECEC;
}
.contpsser {
  padding: 46px 54px 10px 105px;
}
.contpsser h2 {
  font-size: 3.6em;
  font-weight: 300;
  color: #383838;
}
.itemcps {
  background: #fff;
  padding: 2em;
  margin-bottom: 2em;
}
.itemcps p {
  margin: 0;
}
.contdfgt {
  position: relative;
}
.contdfgt h3 {
  color: #fff;
  position: relative;
  z-index: 2;
  padding-top: 1.5em;
}
.contdfgt p {
  color: #e6e6e6;
  position: relative;
  z-index: 1;
}
.contdfgt:after {
  content: '';
  width: 100%;
  height: 100%;
  display: inline-block;
  background: rgba(0, 74, 98, 0.72);
  position: absolute;
  top: 0;
  right: 0;
}

.aligdb {
  display: inline-block;
  color: #fff;
}

.item-clien {
  margin-right: 2em;
  margin-left: 2em;
}
.sec-clien {
  padding: 5em 0;
}
#slider-ban {
  min-height: 600px;
}
.parallax {
  background-attachment: fixed;
}
.btn {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 45px;
  margin: 0;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  vertical-align: middle;
  width: 100%;
}
.cont-bresp {
  float: left;
  margin-top: 2px;
  font-size: 16px !important;
  margin-left: 0 !important;
}
.tit-pbtt {
  margin-bottom: 3em;
}
@media (min-width: 400px) {
  .btn {
    display: inline-block;    
  }
  .btn:nth-of-type(even) {
    margin-right: 0;
  }
}
@media (min-width: 600px) {
  .btn:nth-of-type(even) {
    margin-right: 2.5em;
  }
  .btn:nth-of-type(5) {
    margin-right: 0;
  }
}
.btn:hover {
  text-decoration: none;
}
.btn-1 {
  background-color: #43ccde;
  background-image: -webkit-linear-gradient(0deg, #4A93C5, #5DE5F7);
  background-image: -moz-linear-gradient(0deg, #4A93C5, #5DE5F7);
  background-image: -ms-linear-gradient(0deg, #4A93C5, #5DE5F7);
  background-image: -o-linear-gradient(0deg, #4A93C5, #5DE5F7);
  background-image: linear-gradient(90deg, #4A93C5, #5DE5F7);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#4A93C5', endColorstr='#5DE5F7')";
  transition: -webkit-transform 0.4s ease;
  transition: transform .4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  font-weight: 100;
  text-align: center;
}
.btn-1 svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.btn-1 rect {
  fill: none;
  stroke: #5DE5F7;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
}
.btn-1:hover {
  background: rgba(225, 51, 45, 0);
  font-weight: 900;
  letter-spacing: 1px;
  color: #4A93C5;
}
.btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}
.cont-check {
  position: relative;
  display: inline-block;
}
.cont-check label {
  padding-left: 1.5em;
  font-size: 1.6em;
  color: #333333;
  line-height: 2;
}
[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  top: .2em;
  left: 0;
  width: 1.1em;
  height: 1.1em;
  z-index: 0;
  border: 1px solid #A7A7A7;
  background: #fff;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  margin-top: 2px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
[type="checkbox"]:checked + label:before {
  top: -2px;
  left: -1px;
  width: 10px;
  height: 19px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  background: transparent;
}
input[type="checkbox"] {
  position: absolute;
  top: 0.625rem;
  margin: 0 1rem 0 0;
  width: 7px;
  left: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

.col-container h1 {
  font-size: 4.8em;
  font-weight: 700;
  margin-bottom: .5em;
}

ul {
  margin: 0;
  list-style: none;
}

.row {
  max-width: inherit;
}
.col-container {
  max-width: 1450px;
  width: 85%;
  margin: 0 auto;
}
.top-head {
  background: #fff;
  padding: 10px 0;
}
#map {
  height: 40em;
  margin-top: 4em;
}
.cont-headdatos div {
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  vertical-align: middle;
}
.cont-headdatos div span {
  font-weight: normal;
  display: block;
  color: #929292;
  font-size: 0.9em;
}
.head-button {
  display: inline-block;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 3em;
  border-radius: 3px;
  vertical-align: middle;
  border-width: 2px;
  border-style: solid;
  background-color: #4A93C5;
  border-color: #4A93C5;
  color: #fff;
}
.head-button:hover {
  background-color: #fff;
  color: #4A93C5;
}
.icdiv {
  position: relative;
  margin-left: 3em;
}
.icdiv:before {
  content: "\f05d";
  font: normal normal normal 14px/1 FontAwesome;
  display: inline-block;
  position: absolute;
  left: -17px;
  top: 6px;
}
.top-bar {
  background-color: #43ccde;
  background-image: -webkit-linear-gradient(0deg, #4A93C5, #5DE5F7);
  background-image: -moz-linear-gradient(0deg, #4A93C5, #5DE5F7);
  background-image: -ms-linear-gradient(0deg, #4A93C5, #5DE5F7);
  background-image: -o-linear-gradient(0deg, #4A93C5, #5DE5F7);
  background-image: linear-gradient(90deg, #4A93C5, #5DE5F7);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#4A93C5', endColorstr='#5DE5F7')";
  transition: -webkit-transform 0.4s ease;
  transition: transform .4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}
.butt-gen {
  font-size: 1.8em;
  color: #4A93C5;
  padding: 15px 28px 15px 28px;
  margin: 0px 10px 10px 0px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-width: 2px 2px 2px 2px;
  border: 2px solid #4A93C5;
}
.hide-opt {
  display: none;
}
.hov-big img {
  width: 100%;
}
.cont-clien {
  text-align: center;
}
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: #666566;
}
textarea:-moz-placeholder,
input:-moz-placeholder {
  color: #666566;
}
textarea::-moz-placeholder,
input::-moz-placeholder {
  color: #666566;
}
textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
  color: #666566;
}
[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea {
  height: auto;
  font-weight: normal;
}
.butt-form {
  text-align: right;
  margin-top: 1em;
}
.butt-form input[type="submit"] {
  color: #fff;
  background: #4A93C5;
  border: 1px solid #4A93C5;
  font-size: 1.2rem;
  padding: .6em 1.5em;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: inline-block;
}
.butt-form input[type="submit"]:hover {
  background: #fff;
  color: #4A93C5;
}
.form-wh input {
  border: none;
  border-bottom: 1px solid #4A93C5;
  font-weight: normal;
}
.form-wh input:focus {
  border: none;
  border-bottom: .13em solid #ABE7F7;
}
.form-wh textarea {
    border:none;
    resize:none;
    border-bottom: 0.13em solid #4A93C5;
    font-weight: inherit;
}
.form-wh [type="checkbox"] + label:before {
  border: 1px solid #4A93C5;
}
.form-wh [type="checkbox"]:checked + label:before {
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #4A93C5;
  border-bottom: 2px solid #4A93C5;
}
.form-wh label {
  font-size: 1.4rem;
  color: #4A93C5;
}
.form-wh select {
    font-size: 1.2rem;
    height: auto;
    padding: .6em .5em;
    border: none;
    border-bottom: 1px solid #4A93C5;
    font-weight: normal;
}
.form-wh textarea {
  height: 6em;
}
[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea {
    border: .1em solid #DADADA;
    box-shadow: none;
    height: auto;
    font-size: 1.42rem;
    padding: 12px;
    font-weight: 700;
}
form ::-webkit-input-placeholder {
  color: #4A93C5;
  text-transform: uppercase;
}
form :-moz-placeholder {
  color: #4A93C5;
  opacity: 1;
  text-transform: uppercase;
  font-weight: 700;
}
form ::-moz-placeholder {
  color: #4A93C5;
  opacity: 1;
  text-transform: uppercase;
  font-weight: 700;
}
.cont-form {
  background: rgba(241, 241, 241, 0.48);
  padding: 2em 3em;
}
form :-ms-input-placeholder {
  color: #4A93C5;
  text-transform: uppercase;
  font-weight: 700;
}
.googlemaps-label {
  font-size: 2em;
  font-weight: bold;
  color: #ECC849;
}
.titulo-inter {
  margin-top: 26px;
}
.titulo-inter h2 {
  margin-bottom: 0;
}
.tit-pag p {
  font-size: 2.3em;
  font-weight: normal;
}
.cont-info h3{margin-bottom: 40px}
.cont-info h3:before{margin: 0 !important;}
.cont-info h4{
    margin-bottom: 10px !important
}
.cont-info {
  padding-left: 38px;
}
.cont-info h4 {
  color: #4A93C5;
}
.cont-info h4 i {
  margin-right: 1em;
}
.cont-info p {
  margin-left: 2em;
}

/*Redes Sociales*/
.redes li {display: inline-block;margin-left:5px}
.redes a{display: inline-block;}
.redes a:hover{
  
}
.redes{
  color: white;
  list-style-type: none;
}
.redes--ico-facebook{background: url(../img/icons/facebook.svg) no-repeat 50% 50%;}
.redes--ico-linkedin{background: url(../img/icons/linkedin.svg) no-repeat 50% 50%;}
.redes--ico-plus{background: url(../img/icons/plus.svg) no-repeat 50% 50%;}
.redes--ico{
  width: 40px;
  height: 40px;
  display: inline-block;
  background-size: cover;
  mask-size: cover;   
}

@media only screen and (max-width: 1400px) {
  .group-logo figure {
    padding: 5% 0;
  }
  .group-logo img {
    padding: 10% 0;
  }
}
@media only screen and (max-width: 1300px) {
  .col-container {
    width: 97%;
  }
  .cont-servp h3 {
    padding-top: 1em;
  }
}
@media only screen and (max-width: 1200px) {
  .item-lav {
    margin-bottom: 3em;
  }
  .cont-sel {
    width: 90%;
  }
  .col-container {
    width: 97%;
  }
  .owl-carousel {
    width: 100%;
  }
  .owl-next {
    right: 7px;
  }
  .owl-prev {
    right: 54px;
  }
  .cont-wh p {
    font-size: 1.5em;
  }
  #slider-ban {
    min-height: inherit;
  }
  .cont-servp h3 {
    padding-top: 0em;
    margin-bottom: 0.8em;
  }
  .contser {
    padding: 2em 1em;
  }
  .contpsser {
    padding: 39px 21px 10px 14px;
  }
}
@media only screen and (max-width: 1024px) {
  .img-foot {
    display: none;
  }
  .sec-serv1 h2 {
    font-size: 2.6em;
  }
  .txt-slide h2 {
    font-size: 5.8em;
  }
  .it-comm {
    margin-bottom: 2em;
  }
  .cont-int {
    width: 100%;
  }
  .nav {
    width: 100%;
    text-align: center;
  }
  #slider-ban {
    margin-top: 0;
  }
  .txt-asis {
    padding-left: 0.9375rem;
  }
  .form-lav {
    margin-bottom: 3em;
  }
  .item-desc {
    margin-bottom: 2em;
  }
  .hidden-xs {
    display: none;
  }
  .heightcar {
    height: auto !important;
  }
}
@media only screen and (max-width: 992px) {
  .txt-slide {
    margin-top: 11.5%;
  }
  .dropdown-toggle:before {
    display: none;
  }
  .top-bar-left {
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
  }
  .icdiv {
    position: relative;
    margin-left: 2em;
    text-align: left;
  }
  .top-head {
    height: auto;
    text-align: center;
  }
  .top-bar-right {
    float: none;
    width: 100%;
    margin-left: 0;
  }
  .hide-opt {
    display: inline-block;
  }
  .first-secs {
    margin-top: 0;
  }
  .trr-cont {
    margin-bottom: 6px;
    margin-top: 6px;
    height: 24em;
  }
  .trr-cont h3 {
    padding-top: 1.5em;
  }
  #slider-ban {
    min-height: inherit;
  }
  .txt-slide p {
    width: 88%;
  }
  .cont-pq {
    padding-top: 4em;
    padding-bottom: 3em;
  }
  .tit-lin h2,
  .cont-pq h2 {
    font-size: 2.6em;
  }
  .tit-lin .lin {
    display: none;
  }
  .sec-pad {
    padding-top: 5em;
    padding-bottom: 5em;
  }
  .contser {
    padding: 1em 1em;
  }
  .cont-servp h3 {
    padding-top: 0;
  }
  .head-button {
    margin-top: 8px;
    padding: 8px 25px;
  }
  .top-bar {
    padding: 0 0.5rem;
  }
  .sec-clien {
    padding: 0em 0 2em;
  }
}
@media only screen and (max-width: 640px) {
  .group-logo img {
    width: auto;
    padding: 0;
  }
  .group-logo figure {
    padding: 0;
    text-align: center;
  }
  .group-logo {
    height: auto !important;
    padding: 1em;
  }
  .owl-prev,
  .owl-next {
    top: -1.5em;
  }
  .butt-lav {
    margin-top: 1em;
  }
  .cont-lav h2 {
    font-size: 3em;
  }
  .cont-lav {
    padding: 3.5em 0 5em;
  }
  .menu-foot {
    margin: 2em 0;
  }
  .sec-serv1 img {
    width: 100%;
  }
  .sec-serv1 h2 {
    font-size: 3em;
  }
  .sec-serv1 a {
    margin-bottom: 2em;
  }
  .sec-serv1 p {
    margin-top: 1em;
  }
  .txt-slide h2 {
    font-size: 4.8em;
    line-height: 1em;
  }
  .sp-buttons {
    display: none;
  }
  .first-part {
    padding: 4em 0 2em;
  }
  .it-comm {
    height: auto !important;
  }
  .top-bar .top-bar-right {
    width: auto;
  }
  .col-container {
    width: 93%;
  }
  .cont-int {
    margin-top: 3em;
  }
  .cont-ass {
    margin-bottom: 5em;
  }
  .col-container h1 {
    font-size: 3.8em;
  }
  .filter-left {
    margin-bottom: 3em;
  }
  .it-comm figure {
    height: auto;
    padding: 1em;
    display: inline-block;
    width: 100%;
  }
  .it-comm figure img {
    position: relative;
  }
  .log-comm {
    padding: 5em 0 5em;
  }
  #map {
    width: 90%;
    margin: 3em auto;
  }
  .but-faq {
    margin-bottom: 5em;
  }
  .titleh3 h3 {
    font-size: 3.8em;
  }
  .page-lav {
    margin-top: 2em;
  }
  .item-desc {
    height: auto !important;
  }
  .txt-slide {
    margin-top: 4.5%;
    left: 4%;
  }
  .txt-slide h4 {
    font-size: 4em;
  }
  .txt-slide p {
    line-height: 1.1;
  }
  .infofdir {
    margin-top: 0;
  }
  .foot h3 {
    margin-bottom: .4em;
    margin-top: .5em;
  }
  .foot {
    padding: 2em 0 2em;
  }
  .heighpsd {
    height: auto !important;
  }
  .cont-sbl {
    margin-bottom: 20px;
  }
  .seco-con {
    margin-top: 30px;
  }
  .cont-info {
    padding-left: 0;
  }
  .cont-form {
    padding: 2em 1em;
  }
}
@media only screen and (max-width: 550px) {
  .txt-slide h4 {
    font-size: 3em;
  }
  .txt-slide p {
    width: 100%;
  }
}
@media only screen and (max-width: 496px) {
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    padding: 1.5em 0 0 0;
  }
  .txt-slide {
    margin-top: 3.5%;
  }
  .txt-slide h2 {
    font-size: 2.4em;
  }
  .txt-slide p {
    font-size: 1.6em;
  }
}
@media only screen and (max-width: 480px) {
  .cont-wh figure {
    width: 100%;
    float: none;
    text-align: center;
    padding-top: .5em;
  }
  .cont-wh .dat-who {
    width: 100%;
    float: none;
    text-align: center;
  }
}



/*Maps*/
/*  GOogle Maps */
#gm--message img{width: 200px;}
#gm--message{
    position: relative; 
}
.gm--capa:hover{opacity: 1;}
.gm--capa i{
    color: white;
    font-size: 50px;
}
.gm--capa span{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
       -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
         -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}
.gm--capa{
    opacity: 0;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(95, 201, 215, 0.58)
}