.top-bar ul {
  background-color: transparent;
}
.logo{
  margin-top: 0.5em;
}
/*Nav*/
.nav {
  display: inline-block;
  vertical-align: bottom;
  -webkit-transition: ease 0.6s;
  -moz-transition: ease 0.6s;
  -ms-transition: ease 0.6s;
  -o-transition: ease 0.6s;
  transition: ease 0.6s;
}
.nav a {
  color:#fff;
  font-size: 1.8em;
  font-weight:600;
  text-transform: capitalize;
  display: block;
  position: relative;
  -webkit-transition: ease 0.85s;
  -moz-transition: ease 0.85s;
  -ms-transition: ease 0.85s;
  -o-transition: ease 0.85s;
  transition: ease 0.85s;
  line-height: 49px;
}
.nav a:hover{
  color: @maincolor;
}

.nav li {
  margin: 0 2em;
  &:first-child{
    margin-left: 0;
  }
}
.menu-link {
  display: none;
  float: right;
  text-decoration: none;
  padding: 0px 9px;
  height: 100%;
  background: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 30px;
  color: #000;
  margin-top: .8em;
  background: @maincolor;
  color: #fff !important;  
}
.nav > ul {
  margin: 0;
  position: relative;
}
.nav > ul > li:last-child {
  margin: 0 0px 0 20px;
}
.nav > ul > li ul {
  margin-left: -15px;
  padding: 0;
}
.nav > ul > li ul li {
  display: block;
  margin: 0;
}
.nav > ul > li ul li a {
  font-weight: 400;
  padding: 15px 9px;
  display: block;
  line-height: 0;
}
.nav > ul > li ul li a:before {
  display: none;
}
.nav > ul > li ul li a:hover {
  background: #969da2;
  color: #fff !important;
}
.dropdown-menu {
  background: #ddeff3 !important;
  color: #fff !important;
}
.dropdown-menu a{
  color: @maincolor !important;
}
.nav ul:after {
  content: "";
  clear: both;
  display: block;
}
.nav ul li {
  display: inline-block;
}
.nav ul li:hover > ul {
  display: block;
}
> .nav ul li > ul.sub-menu {
  width: 100%;
  padding: 4px 0;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.nav ul ul {
  display: none;
  position: absolute;
  top: 54px;
  min-width: 160px;
  z-index: 9;
  li{
    a{
      &:before{
        display: none!important;
      }
    }
  }
}
.nav ul ul > li {
  position: relative;
}
.nav ul ul > li a {
  padding: 5px 15px 5px 10px;
  height: auto;
}
.head-fix{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
@media screen and (max-width: 992px) {
  .head-fix {position: relative;}
  .top-bar{
    height: auto !important;
  }
  .menu-link {
    display: block;
    margin-bottom: 10px;
  }  
  .dropdown-toggle:after{
    background: #fff !important;
  }
  .nav {
    clear: both;
    min-width: inherit;
    float: none;
    overflow: hidden;
    max-height: 0;
    display: inherit;
    position: relative;
    z-index: 99;
    background: #fff;
    margin-left: 0;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-top: 10px;
  }

  .nav > ul > li ul {
    margin-left: 0;
    background: #e7e7e7;
    color: #000;
    padding: 0;
  }
  .nav > ul > li ul li {
    border-bottom: 1px solid #b9b9b9;
  }
  .nav > ul > li ul a {
    color: #000;
    line-height: 1.5em !important;
  }

  .nav.active {
    max-height: 100%;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
  }
  .nav li.has-submenu > a:after {
    content: '+' !important;
    position: absolute;
        top: 0.3em;
    right: 0;
    display: block;
    font-size: 1.5em;
    padding-right: 36px;
  }

  .nav li.has-submenu > a.active:after {
    content: "-" !important;
  }
  .nav ul {
    display: inline;
  }
  .nav ul li {
    display: block;
  }
  .nav ul li a {
    display: block;
    padding: 9px;
    border-bottom: 1px solid #ccc;
    position: relative;
    color: @maincolor;
    line-height: 37px;
  }
  > .nav ul li > ul.sub-menu {
    padding: 0px;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
  }
  .nav ul li a:before {display: none !important;}
  .nav li { margin: 0 ; }
  .nav ul ul {
    overflow: hidden;
    max-height: 0;
    display: inherit;
    position: relative;
    left: auto;
    top: auto;
    -webkit-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
  }
  .nav ul ul.active {
    max-height: 100%;
  }
  .nav ul ul > li {
    display: block;
  }
  .nav ul ul > li a {
    height: auto;
    padding: 9px 20px !important;
  }
  .nav ul ul ul {
    display: inherit;
    position: relative;
    left: auto;
    top: auto;
    -webkit-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
  }
  .nav > ul > li:last-child {
    margin: 0 0px 0 13px;
    a{
      border: none;
    }
  }
}

//para animación

.nav ul li a {
  -webkit-transition: .3s ease;
  transition: .3s ease;
  position: relative;
}
.nav ul li a:before {
  content: " ";
  display: block;
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: .3em;
  background: @maincolor;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.nav ul li a:hover:before {
  content: " ";
  display: block;
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: .3em;
  background: @maincolor;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.nav ul li a:before {
  -webkit-transform-origin: left center;
          transform-origin: left center;
}
