.googlemaps-label {
  font-size: 2em;
  font-weight: bold;
  color: #ECC849;
}
.titulo-inter {
	margin-top: 26px;
	h2{
		margin-bottom: 0;
	}
}
.tit-pag {
	p{
		font-size: 2.3em;
		font-weight: normal;
	}
}
.cont-info {
	padding-left: 38px;
	h3{
		font-size: 2.5em;
	}
	h4 {
		color: @maincolor;
		font-size: 2em;
		i{
			margin-right: 1em;
		}
	}
	p{
		margin-left: 2em;
	}

}
.redes {
	li{
		display: inline-block;
		margin-right: 1em;
		a{
			font-size: 3em;
			width: 1.5em;
			height: 1.5em;
			border-radius: 100px;
			color: #fff;
			display: inline-block;
			text-align: center;
		}
	}
}	
.face {background: #3B5998;}
.twitter {background: #1DA1F2;}