@media only screen and (max-width: 1400px) {
  .group-logo figure{
    padding: 5% 0;
  }
  .group-logo img{
    padding: 10% 0;
  }
}
@media only screen and (max-width: 1300px) {
  .col-container{
    width: 97%;
  }
  .cont-servp h3 {padding-top: 1em;}
}  

@media only screen and (max-width: 1200px) {
  .item-lav {
      margin-bottom: 3em;
  }
  .cont-sel{
    width: 90%;
  }
  .col-container{
    width: 97%;
  }
  .owl-carousel{
    width: 100%;
  }
  .owl-next{
    right: 7px;
  }
  .owl-prev{
    right: 54px;
  }
  .cont-wh p{
    font-size: 1.5em;
  }
  #slider-ban {
    min-height: inherit;
  }
  .cont-servp h3 {
      padding-top: 0em;
      margin-bottom: 0.8em;
  }
  .contser {
    padding: 2em 1em;
  }
  .contpsser {
    padding: 39px 21px 10px 14px;
  }  
}
@media only screen and (max-width: 1024px){
  .img-foot{
    display: none;
  }
  .sec-serv1 h2{
    font-size: 2.6em;
  }
  .txt-slide h2{
    font-size: 5.8em;
  }
  .it-comm{
    margin-bottom: 2em;
  }
  .cont-int{
    width: 100%;
  }
  .nav {
    width: 100%;
    text-align: center;
  }
  #slider-ban{
    margin-top: 0;
  }
  .txt-asis{
    padding-left: 0.9375rem;
  }
  .form-lav{
    margin-bottom: 3em;
  }
  .item-desc{
    margin-bottom: 2em;
  }
 .hidden-xs{
    display: none;
  }
  .heightcar {
    height: auto !important;
  }
}
@media only screen and (max-width: 992px){
  .txt-slide{
    margin-top: 11.5%;
  }
  .dropdown-toggle:before{
    display: none;
  }
  .top-bar-left {
      float: none;
      width: 100%;
      text-align: center;
      margin-bottom: 2em;
  }
  .icdiv {
      position: relative;
      margin-left: 2em;
      text-align: left;
  }
  .top-head{
    height: auto;
    text-align: center;
  }
  .top-bar-right {
    float: none;
    width: 100%;
    margin-left: 0;
  } 
  .menu-link {margin-top: 7px;} 
  .hide-opt { display: inline-block;} 
  .first-secs { margin-top: 0;} 
  .trr-cont {margin-bottom: 6px; margin-top: 6px; height: 13em; h3{padding-top: 1.5em;}}  
  #slider-ban { min-height: inherit;}
  .txt-slide p {width: 88%;}
  .cont-pq {
    padding-top: 4em;
    padding-bottom: 3em;
  }
  .tit-lin h2, .cont-pq h2 {
    font-size: 2.6em;
  } 
  .tit-lin .lin {display: none;}  
  .sec-pad {
      padding-top: 5em;
      padding-bottom: 5em;
  } 
  .contser {
      padding: 1em 1em;
  }   
  .cont-servp h3 {padding-top: 0;} 
}
@media only screen and (max-width: 640px){
  .group-logo img{
    width: auto;
    padding: 0;
  }
  .group-logo figure{
    padding: 0;
    text-align: center;
  }
  .group-logo{
    height: auto !important;
    padding: 1em;
  }
  .owl-prev, .owl-next{
    top: -1.5em;
  }
  .butt-lav {
      margin-top: 1em;
  }  
  .cont-lav h2{
    font-size: 3em;
  }
  .cont-lav {
      padding: 3.5em 0 5em;
  }  
  .menu-foot{
    margin: 2em 0;
  }
  .sec-serv1 img{
    width: 100%;
  }
  .sec-serv1 h2{
    font-size: 3em;
  }
  .sec-serv1 a{
    margin-bottom: 2em;
  }
  .sec-serv1 p{
    margin-top: 1em;
  }
  .txt-slide h2 {
    font-size: 4.8em;
    line-height: 1em;
  }
  .sp-buttons{
    display: none;
  }
  .first-part {
    padding: 4em 0 2em;
  }
  .it-comm {
    height: auto !important;
  }
  .top-bar .top-bar-right {
    width: auto;
  }
  .col-container {
    width: 93%;
 }
 .cont-int{
  margin-top: 3em;
 }
  .cont-ass {
      margin-bottom: 5em;
  }
  .col-container h1{
    font-size: 3.8em;
  }
  .filter-left{
    margin-bottom: 3em;
  }
  .it-comm figure {
    height: auto;
    padding: 1em;
    display: inline-block;
    width: 100%;
  }
  .it-comm figure img{
    position: relative;
  }
  .log-comm{
    padding: 5em 0 5em;
  }
  #map{
    width: 90%;
    margin: 3em auto; 

  }
  .but-faq {
    margin-bottom: 5em;
  }
  .titleh3 h3{
    font-size: 3.8em;
  }
 
  .page-lav {
    margin-top: 2em;
 }
 .item-desc{
  height: auto !important;
 }
  .txt-slide {
      margin-top: 4.5%;
      left: 4%;
  } 
  .txt-slide h4 { font-size: 4em;}
  .txt-slide p { line-height: 1.1;}
  .infofdir { margin-top: 0;}
  .foot h3 {    margin-bottom: .4em;     margin-top: .5em; }
  .foot {padding: 2em 0 2em;}
  .heighpsd {height: auto !important;}
  .cont-sbl {margin-bottom: 20px;}
  .seco-con {margin-top: 30px;}
  .cont-info {padding-left: 0;}
  .cont-form { padding: 2em 1em;}
}
@media only screen and (max-width: 550px){
  .txt-slide h4 {
      font-size: 3em;
  }
  .txt-slide p {width: 100%;}
}
@media only screen and (max-width: 496px){
  .owl-carousel .owl-wrapper, .owl-carousel .owl-item{
    padding: 1.5em 0 0 0;
  } 
  .txt-slide {
      margin-top: 3.5%;
  }  
  .txt-slide h2 {
      font-size: 2.4em;
  } 
  .txt-slide p {font-size: 1.6em;} 
}
@media only screen and (max-width: 480px){
  .cont-wh figure {
    width: 100%;
    float: none;
    text-align: center;
    padding-top: .5em;
  }
  .cont-wh .dat-who {
    width: 100%;
    float: none;
    text-align: center;
  }
}
