<footer class="row foot">
    <img class="img--is-border" src="https://www.identired.pe/img/ground-foot.svg">
    <div class="content--footer col-container">
        <div class="medium-6 large-3 columns">
            <div class="cont-foot">
                <h4>Moncal</h4>
                <p>Lavandería Moncal es una empresa comprometida con sus clientes, brindándole un servicio integrado de alta calidad.</p>
            </div>
        </div>
        <div class="medium-6 large-3 columns">
            <div class="cont-foot">
                <h4>Mapa de Sitio</h4>
                <ul>
                    <li><a href="/" title="">Inicio</a></li>
                    <li><a href="nosotros.php" title="">Nosotros</a></li>
                    <li><a href="servicios.php" title="">Servicios</a></li>
                    <li><a href="contacto.php" title="">Contacto</a></li>
                </ul>
            </div>
        </div>
        <div class="medium-6 large-3 columns">
            <div class="cont-foot">
                <h4>Contacto</h4>
                <div class="infof">
                    <span><i class="fa fa-phone" aria-hidden="true"></i>Teléfonos</span>
                    <p>Lima: (+511) 252 7076</p>
                    <p>Piura: (+511) 924 391 568</p>
                </div>
                <div class="infof">
                    <span><i class="fa fa-envelope" aria-hidden="true"></i>Correo</span>
                    <p>contacto@moncal.pe</p>
                </div>
            </div>
        </div>
        <div class="medium-6 large-3 columns">
            <div class="cont-foot">
                <div class="infofdir">
                    <span><i class="fa fa-map-marker" aria-hidden="true"></i>Dirección</span>
                    <p>Lima: Av. El Sol Cuadra 9 MZ J LT 13 - La Campiña - Chorrillos</p>
                    <p>Piura: Calle Cuzco 549</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="vendors/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="vendors/type.min.js" type="text/javascript" charset="utf-8"></script>
<script src="vendors/countdown.min.js" type="text/javascript" charset="utf-8"></script>
<script src="vendors/wow.min.js" type="text/javascript" charset="utf-8"></script>
<script src="vendors/owl.min.js" type="text/javascript" charset="utf-8"></script>
<script src="vendors/validate.min.js" type="text/javascript" charset="utf-8"></script>
<script src="vendors/validate.es.js" type="text/javascript" charset="utf-8"></script>
<script src="vendors/mustache.min.js" type="text/javascript" charset="utf-8"></script>
<script src="vendors/swal.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/app.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPgtHp3RNg7z8T4bvQqoGZbwoSd96blRo&callback=iniciarGMap"
    async defer></script>
</body>

</html>