.owl-theme .owl-controls .owl-buttons div {
    color: #000;
    display: inline-block;
    zoom: 1;
    margin: 5px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
	width: 1.5em;
    height: 1.5em;
    font-family: 'FontAwesome';
    text-align: center;
    font-size: 2.2em; 
    border: 1px solid #000;   
}
.owl-prev {
    position: absolute;
    top: -2.5em;
    right: -77px;
}
.owl-next {
    position: absolute;
    top: -2.5em;
    right: -119px;
}

.owl-prev:before {
	content: "\f0d9";
}
.owl-next:before{
    content: "\f0da";
}
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #fff;
}
.owl-theme .owl-controls .owl-page.active span{
    background: #5CDFF3;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.owl-pagination {
    margin-top: 4em;
}